.App {
  text-align: center;
  padding-top: 12px;
}
.container {
  padding-top: 20px;
}
.message-box {
  background:#F2F5F8;
  padding: 24px;
  padding-top: 6px;
  min-height: 500px;
  max-height:500px;
  overflow: scroll;
}

.ant-list-item{
  padding-top: 6px;
  padding-bottom: 6px;
}
.chat-box{
  display: flex;
  padding: 6px 0px;
}
.chat-name{
  flex: 0 0 150px;
  text-align: left;
  padding-right: 12px
}
.chat-text{
  flex: 1 0 336px;
  max-width: 336px;
  text-align: left;
  word-wrap:break-word;
}