.App {
  text-align: center;
  padding-top: 12px;
}
.container {
  padding-top: 20px;
  width: 734px;
}
.message-box {
  background:#F2F5F8;
  padding: 24px;
  padding-top: 6px;
  min-height: 500px;
  max-height:500px;
  width: 534px;
  overflow: scroll;
}

.ant-list-item{
  padding-top: 6px;
  padding-bottom: 6px;
}
.chat-box{
  padding: 6px 0px;
}
.chat-name{
  text-align: left;
  padding-right: 12px
}
.chat-text{
  max-width: 336px;
  text-align: left;
  word-wrap:break-word;
  padding: 4px 8px;
  background: #86BB71;
  border-radius: 4px;
}
.chat-box-me{
  padding: 6px 0px;
  justify-content: flex-end;
}
.chat-name-me{
  text-align: right;
  padding-right: 12px
}
.chat-text-me{
  margin-left: 137px;
  max-width: 336px;
  text-align: left;
  word-wrap:break-word;
  padding: 4px 8px;
  background: #94C2ED;
  border-radius: 4px;
}
